@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
  padding:0;
  margin: 0;
}
body {
	background-color: #121212;  
	overflow-x: hidden; 
    /*font-family: roboto;   */
    font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

.flex {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.slider-wrapper div {
	position: relative;
}

.slider-wrapper {
	margin-top: 5vw;
	margin-left: 11vw;
}

.slide-image {
	height: 24vw;
}

.slide-image img {
    width: 50vw;
    background-color: #fff;
	cursor: pointer;
}

.slide-content {
	width: 25vw;
	color: #fff;
	padding: 3vw 18vw 3vw 5vw;
}

.slide-date {
	color: #0a8acb;
	font-size: 1.1vw;
	font-weight: 400;
	letter-spacing: 0.1vw;
	padding-bottom: 1.4vw;
}
.slide-more a {
 text-decoration: none;
 color:  #fff;
}

.slide-title {
	font-size: 25px;
	font-weight: 300;
	line-height: 1.55vw;
    padding-bottom: 1.8vw;
    color: #00FF00;
}

.slide-text {
	font-size: 12px;
    line-height: 1.2vw;
    line-height: 17px;
	opacity: 0.8;
	padding-bottom: 4vw;
}

.slide-more {
	font-weight: 400;
	letter-spacing: 0.1vw;
	float: left;
    font-size: 0.9vw;
   position: relative;
   bottom: 20px;
}

.slide-bullet {
	width: 0.5vw;
	height: 0.5vw;
	background-color: #0b8bcc;
	border-radius: 200%;
	position: relative;
    margin-left: 1.2vw;
    
}

.slide-nav {
	margin-left: 64vw;
	margin-top: -5.5vw;
}

div.overlay-blue {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	transition: 0.5s ease all;
}

div.overlay-blue:hover {
	background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
	width: 3.5vw;
	margin-top: -5.8vw;
	margin-left: 72vw;
    position: relative;
    top: 20px;
}

.arrow {
	display: inline-block;
	position: absolute;
	width: 1.2vw;
	height: 1.2vw;
	background: transparent;
	text-indent: -9999px;
	border-top: 0.15vw solid #fff;
	border-left: 0.15vw solid #fff;
	transition: all .1s ease-in-out;
	text-decoration: none;
	color: transparent;
}

.arrow:hover {
	border-color: #0A8ACB;
	border-width: 0.25vw;
}

.arrow:before {
	display: block;
	height: 200%;
	width: 200%;
	margin-left: -50%;
	margin-top: -50%;
	content: "";
	transform: rotate(45deg);
}

.arrow.prev {
	transform: rotate(-45deg);
	left: 0;
}

.arrow.next {
	transform: rotate(135deg);
	right: 0;
}




.container {
    width: 98%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .navbar-area {
    background-color: #222222;
    border-bottom: 1px solid #000;
    font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
    font-size: 11px;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
      width: 100%;
  }
  .site-logo{
      width: 120px;
      margin-left: 20px;
  }
 
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
 
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }

  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }

  .section-text{
    width: 100%;
    background-color:#00FF00;
    height: 140px;
    margin-top: 250px;

}
.inside{
    width: 60%;
    margin: auto;
}
.inside h1{
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    padding-top: 5px;
    padding-top: 20px;
    position: relative;
    left: 15px;
    color: #1A1A1A;
}
.inside p{
    text-align: center;
    font-size: 14px;
    color:  #1A1A1A;
}

.footer-container{

  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center ;
  display: flex;
  background-color: #222222;
  position: relative;
  margin-top: 230px;

}
.logo{
  width: 60px;
  height: 60px;
}
.text2{
  margin-left: 30px;
}
.text2 li{
  list-style: none;
}
.text2 ul li a{
  text-decoration: none;
  font-weight: 300;
font-size: 12px;
  color: #EEEEEE;
}
.text3 {
  width: 550px;
  color: #EEEEEE;
  margin-left: 50px;
 text-align: right;  
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
  .text3{
      display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 699px){
.text3{
    display: none;
}
} 


  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
 
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
}
  