@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;  
    font-family: 'Montserrat', 'Open Sans', Verdana, Times;
}

.container {
    width: 98%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .navbar-area {
    background-color: #2e2d2d;
    border-bottom: 1px solid #000;
    font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
    font-size: 11px;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
      width: 100%;
  }
  .site-logo{
      width: 120px;
      margin-left: 20px;
  }
 
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
 
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }

  .iframe{
      padding-top: 20px;
      text-align: center;
  }
  .title{
      color: white;
      border: none;
     
  }
  .title h1{
    font-weight: 300;
    padding-bottom: 10px;
  }
  .repl{
    margin-top: 50px;
  }

  
 