@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 98%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .navbar-area {
    background-color: #2e2d2d;
    border-bottom: 1px solid #000;
    font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
    font-size: 11px;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
      width: 100%;
  }
  .site-logo{
      width: 120px;
      margin-left: 20px;
  }
 
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
 
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }

body{
	background:  #2b2a2a;
	font-family: 'Montserrat', 'Open Sans', Verdana, Times;
}

.shadow-effect {
		    background:  #1A1A1A;
		    padding: 20px;
		    border-radius: 4px;
		   
	border:1px solid black;
	width: 340px;
		   
		}
		#customers-testimonials .shadow-effect p {
		    font-family: inherit;
		    font-size: 17px;
		    line-height: 1.5;
		    margin: 0 0 17px 0;
			font-weight: 300;
			
		}
		.testimonial-name {
		    margin: -17px auto 0;
		    display: table;
		    width: auto;
			background: #00FF00;
			font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
			padding: 9px 35px;
			border-radius: 12px;
		    text-align: center;
      position: relative;
      font-weight: 500;
			
		   
		}
		#customers-testimonials .item {
		  
		    padding: 50px;
				margin-bottom:80px;
		    opacity: .2;
		    -webkit-transform: scale3d(0.8, 0.8, 1);
		    transform: scale3d(0.8, 0.8, 1);
		    -webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			
		}
		#customers-testimonials .owl-item.active.center .item {
		    opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
			transform: scale3d(1.0, 1.0, 1);
			
		}
		.owl-carousel .owl-item img {
		    -webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
		    max-width: 253px;
			margin: 0 auto 17px;
			
		}
.list{
  color: white; 
  font-size: 12px;
  line-height: 19px;
}
.img{
  position: relative;
  right: 40px;
}
.p{
	position: relative;
	
	color: white;
}
.num{
  position: relative;
	color: white; 
}
.span1{
	
	color: white;
}







		#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
		    background: #00FF00;
		    -webkit-transform: translate3d(0px, -50%, 0px) scale(0.7);
		            transform: translate3d(0px, -50%, 0px) scale(0.7);
				}




#customers-testimonials.owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}
/* 4 tseg    */
		#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
		    background:#00FF00;
		    display: inline-block;
		    height: 20px;
		    margin: 0 2px 5px;
		    -webkit-transform: translate3d(0px, -50%, 0px) scale(0.3);
		            transform: translate3d(0px, -50%, 0px) scale(0.3);
		    -webkit-transform-origin: 50% 50% 0;
		            transform-origin: 50% 50% 0;
		    -webkit-transition: all 250ms ease-out 0s;
		    transition: all 250ms ease-out 0s;
		    width: 20px;
    }
    

    .footer-container{

      width: 100%;
      height: 10vh;
      margin: auto;
      align-items: center ;
      display: flex;
      background-color: #222222;
      margin-top: 70px;
  }
  .logo{
      width: 60px;
      height: 60px;
  }
  .text2{
      margin-left: 30px;
  }
  .text2 li{
      list-style: none;
  }
  .text2 ul li a{
      text-decoration: none;
      font-weight: 300;
    font-size: 12px;
      color: #EEEEEE;
  }
  .text3 {
      width: 550px;
      color: #EEEEEE;
      margin-left: 50px;
     text-align: right;  
  }

  @media screen and (min-width: 700px) and (max-width: 1024px) {
    .text3{
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 699px){
  .text3{
      display: none;
  }
  }