@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	background-color: #121212;  
	overflow-x: hidden; 
    font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
  margin: 0;
  
  
}
.container {
    width: 98%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .navbar-area {
    background-color: #222222;
    border-bottom: 1px solid #000;
    font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
    font-size: 11px;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
      width: 100%;
  }
  .site-logo{
      width: 120px;
      margin-left: 20px;
  }
 
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
 
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }

  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }

  .container1{
    display: grid;
    grid-template-columns: 66% 30%;
    justify-items: center;
}
.image{
  height: 600px;
}
.image img{
  border-radius: 5px;
}
.caption {
 margin-left: 30px;
}
.caption h1{
  color: #00FF00;
  font-weight: 300;
  font-size: 36px;
}
.caption p{
  color: #EEEEEE;
  font-size: 14px;
  padding-top: 20px;
}
.caption ul{
  margin-left: 8px;
}
.caption ul li{
  color: #E5E5E5;
  font-size: 14px;
  line-height: 35px;
  
}
.btn{
  padding-top: 45px;
  text-align: center;
}
.btn-add{
  width: 270px;
  height: 45px;
  font-family: 'Montserrat', 'Open Sans', Verdana, sans-serif;
  background-color: #00FF00;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #00FF00;
  font-size: 14px;
}
.middle-section{
  width: 100%;
  background-color: #00FF00;
  height: 150px;
}
.text{
  width: 70%;
  margin: auto;
}
.text h1{
  text-align: center;
  font-weight: 300;
  font-size: 28px;
  padding-top: 5px;
  padding-top: 20px;
  position: relative;
  left: 15px;
}
.text p{
  text-align: center;
  font-size: 14px;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

  .tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
  }
  
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center;
  }
  
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .tabs [class^="tab"] [type="radio"]:hover,
  .tabs [class^="tab"] [type="radio"]:focus,
  .tabs [class*=" tab"] [type="radio"]:hover,
  .tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #00FF00;
  }
  
  .tabs [class^="tab"] [type="radio"]:checked,
  .tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #00FF00;
  }
  
  .tabs [class^="tab"] [type="radio"]:checked+div,
  .tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
  }
  
  .tabs [class^="tab"] [type="radio"]+div,
  .tabs [class*=" tab"] [type="radio"]+div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .tabs .tab-2 {
    width: 50%;
  }
  
  .tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
  }
  
  .tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
  }
  
  .tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
  }
  
  .tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
  }
  .white {
    color: white;
  }


.text-caption
{
    margin-left: 20px;
}
.image2{
  width: 600px
}
.text-caption h1{
    text-align: left;
    font-weight: 300;
    padding-left: 10px;
    font-size: 28px;
    position: relative;
    color:  #00FF00;
}
.text-caption p{
    text-align: left;
    font-size: 14px;
    padding-top: 20px;
    font-weight: 400;
    color: #E5E5E5;
    line-height: 18px;
    padding-left: 10px;
}
#image{
  width: 600px;
}
.footer-container{

  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center ;
  display: flex;
  background-color: #222222;
  position: relative;

}
.logo{
  width: 60px;
  height: 60px;
}
.text2{
  margin-left: 30px;
}
.text2 li{
  list-style: none;
}
.text2 ul li a{
  text-decoration: none;
  font-weight: 300;
font-size: 12px;
  color: #EEEEEE;
}
.text3 {
  width: 550px;
  color: #EEEEEE;
  margin-left: 50px;
 text-align: right;  
}

@media screen and  (min-width: 600px) and (max-width: 900px){
  .container{
      display: initial;
  }
  .btn{
      text-align: left;
      position: relative;
      padding-bottom: 30px;
  }
  .container-2{
      display: initial;
  }
  .text-caption{
      margin-bottom: 50px;
  }
  .container-3{
      display: grid;
     grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
.text3{
    display: none;
}
}
@media screen and (min-width: 320px) and (max-width: 699px){
.text3{
  display: none;
}
}

